.App {
  text-align: center;
  background-color: #435F7A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.drum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  padding: 2rem;
  border-radius: 20px;
  transform:
    rotateX(5deg);
  box-shadow: 4px 4px 5px 3px rgba(0,0,0,1), rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


.div-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
}

.div-display p{
  margin: 0;
}

.drum-pad {
  height: 4rem;
  width: 4rem;
  margin: .3rem;
}

.btn-custom-1 {
  background-color: #565656;
  color: white;
  -webkit-box-shadow:0px 0px 32px 0px rgba(250,161,255,0.9);
  -moz-box-shadow: 0px 0px 32px 0px rgba(250,161,255,0.9);
  box-shadow: 0px 0px 32px 0px rgba(250,161,255,0.9);
}

.btn-custom-1:active {
  -webkit-box-shadow:0px 0px 19px 0px rgba(242,0,255,0.9);
  -moz-box-shadow: 0px 0px 19px 0px rgba(242,0,255,0.9);
  box-shadow: 0px 0px 19px 0px rgba(242,0,255,0.9);
  color: rgba(242,0,255,0.9);
  transition: all 0s;
}

.btn-custom-2 {
  background-color: #565656;
  color: white;
  -webkit-box-shadow:0px 0px 32px 0px rgba(161,255,217,0.9);
  -moz-box-shadow: 0px 0px 32px 0px rgba(161,255,217,0.9);
  box-shadow: 0px 0px 32px 0px rgba(161,255,217,0.9);
}

.btn-custom-2:active {
  -webkit-box-shadow:0px 0px 19px 0px rgba(0,255,179,0.9);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,255,179,0.9);
  box-shadow: 0px 0px 19px 0px rgba(0,255,179,0.9);
  color: rgba(0,255,179,0.9);
  transition: all 0s;
}

.btn-custom-3 {
  background-color: #565656;
  color: white;
  -webkit-box-shadow:0px 0px 32px 0px rgba(161,222,255,0.9);
  -moz-box-shadow: 0px 0px 32px 0px rgba(161,222,255,0.9);
  box-shadow: 0px 0px 32px 0px rgba(161,222,255,0.9);
}

.btn-custom-3:active {
  -webkit-box-shadow:0px 0px 19px 0px rgba(0,217,255,0.9);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,217,255,0.9);
  box-shadow: 0px 0px 19px 0px rgba(0,217,255,0.9);
  color: rgba(0,217,255,0.9);
  transition: all 0s;
}

@media all and (min-width: 400px) {
  .drum-pad {
    height: 6rem;
    width: 6rem;
  }
}

@media all and (min-width: 768px) {
  .drum-pad {
    height: 9rem;
    width: 9rem;
  }
}